<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <meta name="keywords" content="video-chat, video, chat, free, gvcp">
    <meta name="description" content="GNU Video Conferencing Platform">
    <title>GVCP - {{title}}</title>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootbox.min.js"></script>
</head>

<body>
