{{>_header}}
<div class="cover">
    <div class="background-image-fixed cover-image" style="background-image : url('/img/header.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-primary error-code">Error {{code}}</h1>
                <p class="text-info error-message">
                    <b>{{message}} - <a href="/">Back to main page</a></b>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>